@page "/"

<PageDocumentTitle DocumentTitle="Elev VPN - Anmod om adgang."/>

<div class="page-content p-4">
    <PageHeadingTitle DisplayTitle="Anmod om VPN adgang" />

    <EditForm Model="_requestModel" OnValidSubmit="OnValidSubmit_AddRequestEmail">

        <DataAnnotationsValidator/>

        <div class="form-group">
            <label for="inputPassword" class="admin-label">Din ZBC Email:</label>
            <input id="inputPassword" type="text" class="form-control form-control-sm" placeholder="Indtast Email.." @bind="_requestModel.Email" />
            <ValidationMessage For="@(() => _requestModel.Email)" />
        </div>

        <button type="submit" class="btn btn-outline-primary mt-2" disabled="@_requestModel.IsProcessing">
            @if(_requestModel.IsProcessing)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>Sender anmodning...</span>
            }
            else
            {
                <span>Send Anmodning</span>
            }
        </button>

    </EditForm>
</div>
